<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Student Management System</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a aria-current="page" class="nav-link active" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/new-student}">Register New Student</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/register}">Register To a Course</a></li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="navbarDropdown" role="button">Admin</a>
                    <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" th:href="@{#}">Show All Students</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Show All Courses</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" th:href="@{#}">Get Student By Email</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Get Student Courses</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>

</html>