<!-- This page shows a form for a new student to input their signup information. -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="head :: head"></head>
<body>
<!-- Responsive navbar-->
<div th:insert="navbar :: navbar"></div>
<!-- Page content-->
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 p-5">
            <form enctype="multipart/form-data" method="post" novalidate th:object="${student}">
                <h3 class="fw-bold p3">New Student Registration</h3>
                <div class="mb-3">
                    <label class="form-label fw-bold fst-italic" for="username">Name: </label>
                    <input id="username" required
                           th:class="${#fields.hasErrors('studentName')}?'is-invalid form-control':'form-control'"
                           th:field="*{studentName}"
                           type="text">
                    <div class="invalid-feedback">
                        <p class="error" th:each="error : ${#fields.errors('studentName')}"
                           th:text="${error}"></p>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold fst-italic" for="email">Email : </label>
                    <input id="email" required
                           th:class="${#fields.hasErrors('studentEmail')}?'is-invalid form-control':'form-control' "
                           th:field="*{studentEmail}"
                           type="text">
                    <div class="invalid-feedback">
                        <p class="error" th:each="error : ${#fields.errors('studentEmail')}" th:text="${error}"></p>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold fst-italic" for="password">Password : </label>
                    <input id="password" required
                           th:class="${#fields.hasErrors('studentPwd')}?'is-invalid form-control':'form-control' "
                           th:field="*{studentPwd}"
                           type="password">
                    <div class="invalid-feedback">
                        <p class="error" th:each="error : ${#fields.errors('studentPwd')}"
                           th:text="${error}"></p>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold fst-italic" for="file">Please upload your image: </label>
                    <input name="file" type="file" id="file"/>
                    <div th:if="${message}">
                        <h2 th:text="${message}"></h2>
                    </div>
                </div>
                <div class="mb-3">
                    <input class="btn btn-secondary" type="submit" value="Submit"/>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>
</body>
</html>
