<!-- This page shows a text form that looks up a student and displays their information. -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Student Management System</title>
    <!-- Favicon-->
    <link href="../assets/favicon.ico" rel="icon" type="image/x-icon">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Student Management System</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a aria-current="page" class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/new-student}">Register New Student</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/register}">Register To a Course</a></li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link active dropdown-toggle" data-bs-toggle="dropdown"
                       id="navbarDropdown" role="button">Admin</a>
                    <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" th:href="@{/admin/all-students}">Show All Students</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/all-courses}">Show All Courses</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" th:href="@{/admin/student-info}">Get Student By Email</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Get Student Courses</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h2>Student Information</h2><br/>
    <form action="/admin/lookup/" method="post">
        <label for="email">Student Email</label>
        <input aria-label=".form-control-lg example" class="form-control form-control-lg" id="email" name="email"
               placeholder="Student Email" type="text">
        <input class="btn btn-primary" type="submit" value="Find">
    </form>
    <div th:if="${student}">
        <h3 th:text="${student.studentName}">STUDENT NAME</h3>
        <h4 th:text="${'ID: ' + student.studentId}">STUDENT ID</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Course</th>
                <th scope="col">Instructor</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${student.getStudentCourses()}">
                <th scope="row" th:text="${course.courseId}">ID</th>
                <td th:text="${course.courseName}">NAME</td>
                <td th:text="${course.courseInstructor}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>
</body>
</html>